<style type="text/css">
  body {font-family: arial,verdana,sans-serif;direction: rtl; text-align:right}
</style>
<p class="lead">נגמר תודה שלום</p>

<button type="button" pi-message-done>למסך הבא</button>




