<style type="text/css">
  body {font-family: arial,verdana,sans-serif;direction: rtl; text-align:right}
</style>
<p class="lead">כעת נציג בפניך מספר שאלות על העמדות והרגשות שלך. לשאלות אלו אין תשובות נכונות או לא-נכונות. אנחנו מעוניינים לדעת על הרגשות והעמדות האמיתיים שלך. </p>

<button type="button" pi-message-done>למסך הבא</button>




