<style type="text/css">
  body {font-family: arial,verdana,sans-serif;direction: rtl; text-align:right}
</style>
<p class="lead">המטלה הבאה היא מטלת מיון. בכל מסך תראו פריט אחד (מילה או תמונה) ותצטרכו למיין את הפריט לאחת מהקטגוריות שיופיעו בחלק העליון של המסך. 
השתדלו לבצע את המשימה מהר ככל האפשר, אבל עם כמה שפחות טעויות. במסך הבא יופיעו הוראות נוספות. אנא קראו אותן בעיון. </p>

<button type="button" pi-message-done>למסך הבא</button>




