<b>Thank you very much for your participation!</b>
<br/><br/>
In this study, we... 
	</p>
<p><b>I Still Have Questions About The Study.</b></p>
<p>If you have any questions or comments about the study, 
please email the lead investigator John Doe, <a href="mailto:johndoe@mailhost.com">johndoe@mailhost.com</a>.
</p>
