<p>
	The next task is the <b>IAT</b>. In this task, photos and sounds will appear 
	one at a time at the center of the screen.
	The categories will be presented at the top-right and top-left corners of the screen. For each item,
	if it belongs to a category on the right, hit the key <b>i</b>, and if it belongs to a category on the left,
	hit the key <b>e</b>.
</p>
<button type="button" pi-message-done>Click here to proceed</button>

